{% extends 'base.html' %}

{% block title %}
    Contact info
{% endblock %}

{% block content2 %}
<h1>Contact info</h1>
<p><b>"Финансовая группа Компаньон", Головной офис</b></p>
<p>720044, Кыргызстан, Бишкек,</p>
<p>ул. Шота Руставели, 62</p>
<p>Тел.: +996 (312) 979 979</p>
<p>Факс: +996 (312) 986 979</p>
<p>Эл. почта: office@kompanion.kg</p>
<p><b>Время работы:</b></p>
<p>Пн-пт, 8:30- 17:30, с 12:00-13:00 обед</p>

<p><b>Для дополнительной информации:</b></p>
<p> </p>
<p>PR-служба</p>
<p>info@kompanion.kg или pr-team@kompanion.kg </p>

{% endblock %}