{% extends 'base.html' %}

{% block title %}
Project discription
{% endblock %}

{% block content2 %}
<h1>Project discription</h1>
<p>In January of this year, the DSF ran a
    fundraising campaign with the intention of funding the DSF Fellowship.
    This fundraising drive enabled us to fund the Fellow for almost all of 2015.
    However, since that initial fundraising drive, our fundraising efforts have not been as successful.
    If the DSF Fellowship is to continue, we're going to need to
    raise more money very soon. What has become</p>


{% endblock %}